@import url(reset.css);

.contenedor{
	width: 850px;
	margin: 20px auto;
}


.puntuacion{
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
}

.puntuacion+div{
	display:none;
}

input{
	width: 100px;
	height: 40px;
	border-radius: 10px;
	font-weight: bold;
}