@import url(reset.css);

html,
body{
	height: 100%;
	width: 100%;
	background-color: silver;
}

html{
	display: table;
}

body{
	display: table-row;
}
div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 500px;
}

p{
	
	font-size: 25px;
	text-shadow: 4px 3px 2px rgba(105, 105, 105, 1);
	/*
	Sombra del texto: ángulo distancia desenfoque rgba(color, opacidad);
	 */
}

p+p