@import url(reset.css);

.contenedor{
	display: table;
	margin: 20px auto;
}

.contenedor>div{
	display:table-row;
	height: 400px;
}

.contenedor>div>div{
	display: table-cell;
	width: 150px;
	vertical-align: top;
}

.contenedor>div>div>div{
	width: 100px;
	margin:0px auto;
	border-radius: 20px;
	min-height: 200px;
	cursor:pointer;
}

.contenedor>div>div:first-child>div{
	background-color: #1b22a7;
	height: 400px;
	line-height: 400px;
}

.contenedor>div>div:nth-child(2)>div{
	background-color: #7dcafe;
	height: 370px;
	line-height: 370px;
}

.contenedor>div>div:nth-child(3)>div{
	background-color: #fe528c;
	height: 340px;
	line-height: 340px;
}

.contenedor>div>div:nth-child(4)>div{
	background-color: #f7bdef;
	height: 310px;
	line-height: 310px;
}

.contenedor>div>div:nth-child(5)>div{
	background-color: #c0f22f;
	height: 290px;
	line-height: 290px;
}

.contenedor>div>div:nth-child(6)>div{
	background-color: #feca1d;
	height: 260px;
	line-height: 260px;
}

.contenedor>div>div:nth-child(7)>div{
	background-color: #98d6fe;
	height: 230px;
	line-height: 230px;
}

.contenedor>div>div:nth-child(8)>div{
	background-color: #cee4f2;
	height: 200px;
	line-height: 200px;
}

span{
	font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 35px;
    box-shadow: none;
}