@import url(reset.css);

html,
body{
	width: 100%;
	height: 100%;
}

html{
	display: table;
}

body{
	display: table-row;
}

body>div{
	display: table-cell;
}

.contenedor{
	background-image: url("../imgs/vacio.gif");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 1000px;
}

