@import url(reset.css);

html,
body{
	width: 100%;
	height: 100%;
}

.contenedor{
	display: table;
	width: 80%;
	margin:0px auto;
	height: 80%;
}

.contenedor>div{
	display: table-row;
	height: 100%;
}

.contenedor>div>div{
	display: table-cell;
	background-image: url("../imgs/vacio.gif");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 600px;
}

.frase{
	margin: 20px auto;
	width: 600px;
}

.frase [type=text]{
	width: 400px;
	height: 30px;
	padding: 5px;
    margin-left: 52px
}