@import url(reset.css);

.contenedor{
	width: 600px;
	min-height: 275px;
	background-color: #4CAF50;
	margin:100px auto;
	padding-top: 75px;
	padding-bottom: 20px;
	border-radius: 25px;
}

.contenedor>div{
	width: 500px;
	margin:20px auto;
	background-color: white;
}

/*
	Caja que contiene frase introducida
 */
.contenedor>div:first-child{
	min-height: 50px;
	text-align: center;
	font-size: 25px;
    line-height: 50px;
}

/*
	Caja con resultados
 */
.contenedor>div:last-child{
	padding-left: 20px;
	padding-top: 20px;
	min-height: 90px;
    font-size: 30px;
}